<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/684/684646.png" type="image/x-icon">
    <title>Cineee</title>
</head>
<body>
    <div class="container">
        <header style="background-color: rgb(45, 45, 129); height: 60px;">
            <h1 style="color: white;">Cine colombia</h1>
            <img src="https://www.bonda.com/hubfs/cine-colombia.png" alt="">
        </header>
    </div>
    
</body>
</html>     